<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">膣美人オンラインサロン</h4>
      </div>
      <div class="card-body">
        <h2 class="card-title pricing-card-title">3,000円<small class="text-muted">/ 月</small></h2>
        <ul class="list-unstyled mt-3 mb-4">
          <li>サロン概要</li>
          <li>引き落とし日：毎月3日</li>
        </ul>
        <%= link_to "カード情報入力に進む", users_plans_new_card_path, class:"btn btn-lg btn-block btn-outline-primary" %>
      </div>
    </div>
  </div>
</div>