<%= render 'layouts/flash_messages' %>
<div class="container">
  <div class="card-deck text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">膣美人オンラインサロン</h4>
      </div>
      <div class="card-body">
        <h2 class="card-title pricing-card-title">ようこそ！</h2>
        <ul class="list-unstyled mt-3 mb-4">
          <li>サロン概要</li>
          <li>引き落とし日：毎月20日</li>
        </ul>
        <div class="user-signed">
          <div class="signed-up">
            <%= link_to "初めての方はこちら", new_user_registration_path, class: 'signed-up-btn' %>
          </div>
          <div class="signed-in">
            <%= link_to "ご登録済みの方はこちら", new_user_session_path, class: 'signed-in-btn' %>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="admin-login text-right">
    <%= link_to "管理者の方はこちら", new_admin_session_path %>
  </div>  
</div>
