// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// .my-0 {
//   color: #f090f3;
// }

.cards-index {
  display: flex;
}

.card {
  margin-right: 8px;
}

.card-deck {
  padding-top: 30px;
}

//スマホ用
@media screen and (max-width:480px) {

  .cards-index {
    display: inline-block;
  }

  .card {
    margin-bottom: 8px;
  }

  .card-deck {
    padding-top: 20px;
  }
  
  
}